<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
</head>

<body>
    <div>
      

                <h1>STUDENT LOGIN</h1><br><br>
                <label>First Name:</label>
                <input type="text" placeholder="Enter First Name" id="sname" name="sfnames"><br><br>
                <label>Last Name:</label>
                <input type="text" placeholder="Enter Last Name" id="slastname" name="slnames"><br><br>
                <label>Student ID:</label>
                <input type="text" placeholder="Enter your employee id" id="suid" name="sid"><br><br>
                <label>Password:</label>
                <input type="password" placeholder="enter your password" id="spid" name="sp"><br><br>
                <button class="b"><a href="{{url_for('studentlog')}}">Submit</a></button>
                

        </form>
<link rel="stylesheet" href="static\student.css">
  </div>
    </body>
