<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
</head>

<body>
    <div>
      
<form method="POST" action="">
                <h1>Teacher Sign up</h1><br><br>
                <label>First Name:</label>
                <input type="text" placeholder="Enter First Name" id="tname" name="tfnames"><br><br>
                <label>Last Name:</label>
                <input type="text" placeholder="Enter Last Name" id="tlastname" name="tlnames"><br><br>
                <label>Employee ID:</label>
                <input type="text" placeholder="Enter your employee id" id="tuid" name="tuids"><br><br>
                <label>Password:</label>
                <input type="password" placeholder="enter your password" id="tpid" name="tp"><br><br>
                <label>Subject:</label>
                <input type="text" placeholder="Enter your employee id" id="tid" name="tsid"><br><br>
                <button class="b">Submit</button>
                

        </form>
<link rel="stylesheet" href="static\teacher.css">
  </div>
    </body>
