<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
</head>

<body>
    <div>
      
<form method="POST" action="">
                <h1>Enter Data</h1><br><br>
                <label>Subject Name:</label>
                <input type="text" placeholder="Enter Subject Name" id="tlname" name="tlfnames"><br><br>
                <label>Mark:</label>
                <input type="text" placeholder="Enter mark" id="tllastname" name="tllnames"><br><br>
                <label>Attendence:</label>
                <input type="text" placeholder="Enter attendence" id="tluid" name="tlsuid"><br><br>
               
                <button class="b">Submit</button>
                

        </form>
<link rel="stylesheet" href="static\teacherloged.css">
  </div>
    </body>
